# Python
__pycache__/
*.py[cod]
*$py.class
dist/
build/
.env

# C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
out/
build_cpp/

# Build Systems
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
*.sln
*.vcxproj
*.user

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
entropy_pool/
logs/
bin/
